.App {
  text-align: center;
  
}

.app__form{
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #424140;
  width: 85%;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  border-radius: 50px;
  
}

.app__formControl{
  display: flex !important;
  flex-direction: row !important;
}

.app__icon{
  flex:0;
}
.app__input{
  flex:1;
}
.app__input::placeholder{
  color:#f6d4b1 !important;
}
.header{
  padding:5px;
  color:#f6d4b1;
  background-color: #424140;
}
