.message__container {
    padding-bottom: 80px; /* Prevent overlap with input form */

}

.message{
    width:fit-content;
    padding:10px;
    margin:10px;
    
}
.message__user{
    margin-left: auto;
    color:white;
    text-align: left !important;
    
}

.message__usercard{
    background-color: #525252 !important;
    border-radius: 30px !important;
    color:#f6d4b1 !important;
}

.message__guestcard{
    background-color: #f6d4b1 !important;
    border-radius: 30px !important;
    border: 1px solid #525252;
    color: #525252 !important;
}